# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pkl

# Virtual environment
venv/
env/
.venv/

# ------------------------------
# Environment variables
# ------------------------------
.env

# ------------------------------
# Data files (VERY IMPORTANT)
# ------------------------------
data/source/
data/cold_storage/
data/cold_storage_summary/

# ------------------------------
# Parquet & large data files
# ------------------------------
*.parquet
*.csv

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Docker
# ------------------------------
*.pid
*.seed
*.pid.lock

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# IDEs / Editors
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# Jupyter (if used later)
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Misc
# ------------------------------
*.bak
*.tmp